html {
  height: auto;
  font-size: 62%;
}

/* Common styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: cornflowerblue;
  padding: 1rem 9%;
  display: flex;
  color: #333;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header .navbar a {
  font-size: 2rem;
  padding: 0 1.5rem;
  color: black;
}

header .navbar a:hover {
  color: #333;
  text-decoration: underline;
}

header .icons a {
  font-size: 2rem;
  color: #333;
  margin-left: 1.5rem;
}

header .icons a:hover {
  color: #333;
  text-decoration: underline;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  /* Mobile styles */
  header {
    padding: 1rem 2%;
  }

  header .navbar a {
    font-size: 1.5rem;
    padding: 0 0.5rem;
    display: block;
  }

  header .icons a {
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }
}

@media (min-width: 769px) {
  /* Desktop styles */
  header {
    padding: 1rem 9%;
  }

  header .navbar a {
    font-size: 2rem;
    padding: 0 1.5rem;
    display: inline-block;
  }

  header .icons a {
    font-size: 2rem;
    margin-left: 1.5rem;
  }
}


.card h1 {
  text-align: center;
}

.card {
  margin-right: 1em ;
}

ul {
  list-style: none;
  display: inline-flex;
}

.pagination a {
  color: green;
  float: left;
  border: 0.5px solid black;
  padding: 8px 16px;
  text-decoration: none;
}

.div {
  text-align: center;
}

.Book {
  margin-top: 2em;
  align-content: center;
  /* position : fixed; */
  left: 8em;
}

.book-Img {
  width: 20em;
  height: 25em;
  float: left;
  display: flex;
  position: relative;
  padding: 12px 10px;
  right: 1em;
}

#Button div {
  display: flex;
  position: relative;
  align-content: center;
}
.user-Img {
  width: 12em;
  height: 12.5em;
  float: left;
  display: flex;
  position: relative;
  left: -100px;
  padding: 12px 10px; 
}

.cat {
  padding: 2em 2em;
  width: 98em;
}

.page-number {
  text-align: center;
  margin-top: 0;
  color: green;
  float: left;
  border: 0.5px solid black;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
}




